@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-bodoni: "Bodoni Moda", serif;
  --font-sans: "Outfit", sans-serif;
}
